$webResourceManager.requireResource("com.blackducksoftware.integration.hub-jira:hub-jira-web-panel-resources")

<script language="JavaScript" type="text/javascript">
	getCustomFieldValues();
    hideHubCustomFields();
</script>

#if ($bdsHubProject || $bdsHubProjectVersion || $bdsHubProjectVersionNickname)
<div class="module">
<div class="mod-header"><h5 class="toggle-title">$i18n.getText("hub.integration.jira.issue.custom.section.project.label")</h5></div>
<ul id="hubProjectFieldList" class="property-list two-cols"></ul>
</div>
<div class="fieldSectionSeparator"/>
#end


#if ($bdsHubComponent || $bdsHubComponentVersion || $bdsHubComponentUsage || $bdsHubComponentOrigin || $bdsHubComponentOriginId || $bdsHubLicenses)
<div class="module">
<div class="mod-header"><h5 class="toggle-title">$i18n.getText("hub.integration.jira.issue.custom.section.component.label")</h5></div>
<ul id="hubComponentFieldList" class="property-list two-cols"></ul>
</div>
<div class="fieldSectionSeparator"/>
#end

#if ($bdsHubPolicyRule)
<div class="module">
<div class="mod-header"><h5 class="toggle-title">$i18n.getText("hub.integration.jira.issue.custom.section.policy.label")</h5></div>
<ul id="hubPolicyFieldList" class="property-list two-cols"></ul>
</div>
#end